[package]
name = "blog-backend"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = "0.8.7"
axum-test = "18.4.1"
chrono = "0.4.42"
sqlx = { version = "0.8.6", features = ["chrono", "postgres"] }
tokio = { version = "1.48.0", features = ["full"] }
tracing = "0.1.43"
tracing-subscriber = "0.3.22"

[dev-dependencies]
axum-test = "18.4.1"
